@import 'sencha-touch/default';
@import 'sencha-touch/default/all';
#btnvegetable{
	width: 50%;
	height: 290px;
	margin: 2px;
    background-image: url('../images/vegetableicon.png');
       background-size: 400px 310px;
    background-repeat: no-repeat;
        padding-bottom: 280px;
}
#btnfruits{
	width: 50%;
	height: 290px;
	margin: 2px;
    background-image: url('../images/fruiticon.png');
    background-size: 400px 310px;
    background-repeat: no-repeat;
    padding-bottom: 280px;
}